{% extends 'auth.html' %}

{% block content %}

  <main class="create-room layout">
    <div class="container">
      <div class="layout__box">
        <div class="layout__boxHeader">
          <div class="layout__boxTitle">
            <a href="{% url 'dashboard' %}">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>arrow-left</title>
                <path
                  d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                </path>
              </svg>
            </a>
            <h3>Check Connection</h3>
          </div>
        </div>
        <div class="layout__body">
          <form class="form" action="" method="POST" >
            {% csrf_token %}
            
            <div class="form__group">
              <label for="formOne_label">LABEL</label>
              {{ form.label }}
              <small>{{ form.label.help_text }}</small>
            </div>

            <div class="form__group">
              <label for="formOne_protocol_service">PROTOCOL SERVICE</label>
              {{form.protocol_service}}
              <small>{{ form.protocol_service.help_text }}</small>
            </div>

            <div class="form__group">
              <label for="formOne_protocol_type">PROTOCOL TYPE</label>
              {{form.protocol_type}}
              <small>{{ form.protocol_type.help_text }}</small>
            </div>

            <div class="form__group">
                <label for="formOne_src_bytes">SOURCE BYTES</label>
                {{form.src_bytes}}
                <small>{{ form.src_bytes.help_text }}</small>
            </div>
            
            <div class="form__group">
                <label for="formOne_dst_bytes">DESTINATION BYTES</label>
                {{form.dst_bytes}}
                <small>{{ form.dst_bytes.help_text }}</small>
            </div>

            <div class="form__group">
                <label for="formOne_the_count">COUNT</label>
                {{form.the_count}}
                <small>{{ form.the_count.help_text }}</small>
            </div>

            <div class="form__group">
                <label for="formOne_srv_count">SRV COUNT</label>
                {{form.srv_count}}
                <small>{{ form.srv_count.help_text }}</small>
            </div>

            <div class="form__group">
                <label for="formOne_dst_host_diff_srv_rate">DESTINATION HOST DIFF SRV RATE</label>
                {{form.dst_host_diff_srv_rate}}
                <small>{{ form.dst_host_diff_srv_rate.help_text }}</small>
            </div>

            <div class="form__group">
                <label for="formOne_dst_host_same_src_port_rate">DESTINATION HOST SAME SRC PORT RATE</label>
                {{form.dst_host_same_src_port_rate}}
                <small>{{ form.dst_host_same_src_port_rate.help_text }}</small>
            </div>
            <!-- <div class="form__group">
              <label for="room_topic">Topic</label>
              <input required type="text" name="topic" id="room_topic" list="topic-list" />
              <datalist id="topic-list">
                <select id="room_topic">
                  <option value="">Select your topic</option>
                  <option value="Python">Python</option>
                  <option value="Django">Django</option>
                </select>
              </datalist>

            </div> -->


            <div class="form__action">
              <a class="btn btn--dark" href="{% url 'dashboard' %}">Cancel</a>
              <button class="btn btn--main" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

{% endblock content %}